#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20rem;
    min-height: 100%;
    z-index: 500;
    transition: all 0.5s;
    padding: 1rem 1rem 0rem 0rem;
    background-color: #5C5F8B;
    vertical-align: middle;
    box-shadow: 1px 0px 5px 0px #333333;
}

#sidebar-header {
    padding: 0;
    position: absolute;
    background-color: #FFFFFF;
    width: 100%;
    height: 9rem;
    top: 0;
    overflow: show;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#heading {
    padding-top: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    color: #353535;
}

#sub-heading-div {
    background-color: #4646462E;
    display: flex;
    justify-content: space-between;
    margin: auto 2.5rem auto auto;
    width: 12rem;
    height: 2.4rem;
}

#sub-heading {
    margin: auto;
    color: #4f3c3c;
}

#sidebar-content {
    margin: 2rem;
    top: 8rem;
    bottom: 9rem;
    overflow: show;
    position: absolute;
}

.content-header {
    color: #f2adce;
    font-size: 1.5rem;
    padding-top: 1rem;
}

#sidebar-footer {
    padding: 0;
    background-color: #FFFFFF;
    position: absolute;
    width: 100%;
    bottom: 0;
    overflow: hidden;
}

#logo-link {
    display: flex;
    justify-content: center;
}

#logo-img {
    width: 256px;
    height: 144px;
}

#geolocator {
    position: relative;
    display: hidden;
    z-index:-5;
}

#dashboard {
    background: '#ffffff'
    padding: 20px;
}

#close-button {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 12;
    background: transparent;
    border: 0;
}

#close-button:hover {
    background: white;
}

#main-container {
    position: fixed;
    width : 100%;
    height : 100vh;
    margin : auto;
    display : block;
}

#map-pane {
    position: fixed;
    z-index: 5;
    width : 100%;
    height : 100vh;
    margin : auto;
    display : block;
}


#collapsible {
    position: absolute;
    z-index: 20;
    width: 100rem;
    height: 100%;
    right: 0;
    bottom: 0;
    box-shadow: 0px 1px 10px 0px #333333;
    background: #ffffff;
    overflow: scroll;
}

#dashboard-pane {
    position: absolute;
    z-index: 10;
    width: 100rem;
   height: 100%;
    right: 0;
    bottom: 0;
    box-shadow: 0px 1px 10px 0px #333333;
    background: #ffffff;
    overflow: scroll;
}

#hzms-graph {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 85%;
}

#sidebar-hzms {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    width: 250px;
    gap: 15px;
}

.modebar {
      display: none !important;
}


#container-home {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#main-title {
    padding: 50px;
}


#logo-extra {
    display: flex;
    position: absolute;
    top: 0px;
    right: 100px;
    gap: 40px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

#aqi-plot-pane {
    position: absolute;
    width: 60%;
    height: 55%;
    bottom: 0px;
    right: 0px;
    background: yellow;
    z-index: 2000;
    box-shadow: 1px 0px 5px 0px #333333;
}
#aqi-plot {
    width: 100%;
    height: 100%;
}
