#main-container-rfms {
    width : 100%;
    height : 100vh;
    margin : auto;
    display : block;
    position : relative;
}

#plot-pane-rfms {
    width : 100%;
    display : block;
    position : relative;
}

#map-pane-rfms {
    width : 100%;
    height : 100vh;
    margin : auto;
    display : block;
}